


.column {
    min-width: 320px;
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    height: 600px;
    overflow-y: scroll;
}

.columnHeader {
    display: flex;
    padding: 0 16px;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
}

.columnHeader_textArea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
}

.columnHeader_textArea > h2 {
    font-size: 16px;
    color: rgba(78, 75, 102, 1);
    max-width: 180px;
    margin: auto 0;
    word-break: break-all;
}

.columnHeader_textArea > h2[contenteditable="true"] {
    outline: none;
    width: 180px;
    border: 1px solid rgba(239, 240, 246, 1);
    border-radius: 4px;
    background: white;
    font-size: 14px;
    padding: 3px 7px;
}


.columnHeader_textArea > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid rgba(239, 240, 246, 1);
    font-size: 12px;
    color: rgba(160, 163, 189, 1)

}

.columnHeader_iconButtons {
    display: flex;
    gap: 8px;
}

.columnHeader_iconButtons > button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconButton {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}